{% extends 'base.html' %}
{% load pagination_tags %}
{% block nav %}
    {% include 'navbar.html' %}
{% endblock %}
{% block main %}
 <div style="background-image: url('/static/images/pixels.png');background-repeat: repeat;background-attachment: fixed;background-color: #CCFFCC">
        <div class="container" style="margin-top: -20px;margin-bottom: -650px">
            <div class="row" style="margin-top: 20px;margin-bottom: 650px">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: #C6E5E9">
                        <span style="font-size: 18px">新闻</span>
                        <a href="{% url 'add_news' dn %}" class="btn btn-sm pull-right"
                           style="margin-top: -2px;background-color: #D73C31;color: #ffffff">Add</a>
                    </div>
                    <div class="list-group news">
                        {% autopaginate news 30 %}
                        {% for n in news %}
                            <a href="{{ n.id }}" target="_blank" class="list-group-item">{{ n.title }}<span
                                    class="pull-right"><span id="count">{{ n.auth }}</span><span
                                    class="label label-info"
                                    style="padding: 4px;margin-left: 10px">{{ n.click }}</span></span></a>
                        {% endfor %}
                    </div>
                </div>
                <div style="text-align: center;margin-top: -20px">
                    {% paginate %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span style="font-size: 18px">排行</span>
                    </div>
                    <div class="list-group">

                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
{% endblock %}