{% extends 'base.html' %}
{% load humanize %}
{% block nav %}{% include 'navbar.html' %}{% endblock %}
{% block main %}
    <div class="container" style="margin-top: 20px">
        <div class="col-md-8">

            <div class="panel panel-default ">
             {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% endfor %}
            {% endif %}
                <div class="panel-heading">
                    <span style="font-size: 18px">主题</span>
                    <a href="{% url 'create_topic' dn %}" class="btn btn-success btn-sm pull-right"
                       style="margin-top: -2px">新话题</a>
                </div>
                <ul class="list-group">
                    {% for t in topics %}
                        <li class="list-group-item">
                            <div class="row">
                                <a href="" class="col-sm-1 col-xs-2 col-md-1">
                                    <img src="../static/images/pitch/bg.jpg" height="50px" width="50px"
                                         class="img-circle">
                                </a>

                                <div class="col-sm-8 col-xs-8 col-md-10" style="margin-left: 5px">
                                    <div><a style="font-size: 18px" href="{{ t.id }}">{{ t.title }}</a></div>
                                    <div style="margin-top: 10px">
                                        <span><a href="{% url 'user_profile' t.auth.id %}"
                                                 style="text-decoration: none">{{ t.auth }} </a></span><span>创建于</span><span>{{ t.time_created | naturaltime }} </span><span>有({{ t.reply_count }})条评论</span>
                                    </div>
                                </div>
                                <div class="pull-right" style="margin-right: 10px;margin-top: 10px">
                                    <label class="label label-info">{{ t.click }}</label>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    标签
                </div>
                <div class="panel-body">
                    <a href="" class="label label-default">CS</a>
                    <a href="" class="label label-default">CS</a>
                    <a href="" class="label label-default">CS</a>
                    <a href="" class="label label-default">CS</a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

