{% extends 'base.html' %}
{% load humanize %}
{% block nav %}{% include 'navbar.html' %}{% endblock %}
{% block main %}
    <div class="container" >
        <div class="row">
            <div class="col-md-8">
                <div class="list-group">
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md-11 col-sm-10 col-xs-10">
                                <div class="text-info"
                                     style="font-size: 25px;border-bottom: 1px #dcdcdc solid;padding-bottom: 10px">{{ topics.title }}</div>
                            </div>
                            <div class="pull-right" style="margin-right: 10px">
                                <a href="{% url 'user_profile' topics.auth.id %}">
                                    <img src="{{ topics.auth.profile.head }}" height="50px" width="50px"
                                         class="img-circle">
                                </a>
                            </div>
                        </div>
                        <div style="margin-top: 10px;font-size: 16px">{{ topics.content | safe }}</div>
                        <div style="margin-top: 30px">
                            <a href="{% url 'user_profile' topics.auth.id %}" class="label label-primary"
                               style="">{{ topics.auth }}</a>
                            <span class="label label-info">{{ topics.time_created | naturaltime }}</span> <span
                                class="label label-default">点击({{ topics.click }}) </span> <span
                                class="label label-default" style="margin-left: 5px">评论({{ topics.reply_count }})</span>
                            {% if topics.auth == request.user %}
                                <a href="" style="text-decoration: none"><span
                                        class="label label-success glyphicon glyphicon-pencil">附加</span></a>
                                <a href="{% url 'del_topic' dn topics.id %}" style="text-decoration: none"><span
                                        class="label label-danger glyphicon glyphicon-trash">delete</span></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="panel panel-default ">
                    <div class="panel-heading">
                        <span style="font-size: 18px">共有{{ topics.reply_count }}条回复</span>

                    </div>
                    <ul class="list-group">
                        {% for r in reply %}
                            <div class="list-group-item">
                                <div class="row">
                                    <a href="{% url 'user_profile' r.auth.id %}" class="col-sm-2 col-xs-2 col-md-1">
                                        <img src="{{ r.auth.profile.head }}" height="50px" width="50px"
                                             class="img-circle">
                                    </a>

                                    <div class="col-sm-9 col-xs-9 col-md-10" style="margin-left: 5px;margin-top: 10px">
                                        <div style="max-height: 800px">
                                            {{ r.content | safe }}
                                        </div>
                                        <div style="margin-top: 30px">
                                            <span></span>
                                            <span id="count"><a
                                                    href="{% url 'user_profile' r.auth.id %}">{{ r.auth }}</a></span><span
                                                id="count"
                                                style="margin-left: 5px">{{ r.time_created | naturaltime }}</span><a style="margin-left: 5px" href="" class="label label-info "></a>
                                        </div>
                                    </div>
                                    <div class="pull-right" style="margin-right: 10px;margin-top: 10px">
                                        <a class="label label-info reply-btn" data-user="{{ r.auth.username }}"
                                           data-url="{% url 'user_profile' r.auth.id %}"
                                           href="#content">reply</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </ul>
                </div>
                {% if user.is_authenticated %}
                    <div class="list-group" id="content">
                        <form role="form" method="post" action="{% url 'create_reply' dn topic_id %}">
                            {% csrf_token %}
                            <textarea placeholder="评论" name="reply" class="form-control" id="editor"></textarea>
                            <button class="btn btn-success pull-right" type="submit" style="margin-top: 10px;width: 100px">提交
                            </button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        var editor = new Simditor({
            textarea: $('#editor')
        });
        $('.reply-btn').click(
                function () {
                    var user = $(this).data('user');
                    var profile = $(this).data('url');
                    console.log(user);
                    editor.setValue('<a href="' + profile + '">' + '@' + user + '&nbsp');
                }
        );
    </script>
{% endblock %}