{% extends 'base.html' %}
{% block nav %}
    {% include 'nav.html' %}
{% endblock %}
{% block assignment %}
    <div class="container">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color: #C6E5E9">
                    选择专业和课程
                </div>
                <div class="list-group">
                    <div class="list-group-item">
                        <form class="form-group">
                            <br>
                            <select class="form-control">
                                <option>请选择年级</option>
                                <option>2011级</option>
                                <option>2012级</option>
                                <option>2013级</option>
                                <option>2014级</option>
                            </select>
                            <br>
                            <select class="form-control" id="college">
                                <option>请选择学院</option>
                                <option>信院</option>
                            </select>
                            <br>
                            <select class="form-control" id="department">
                                <option>请选择专业</option>
                                <option>计算机</option>
                            </select>
                            <br>
                            <input type="submit" value="确定" class="btn col-md-offset-10" style="background-color: #5bc0de;color: #ffffff">
                            <br>
                        </form>
                    </div>
                    <div class="list-group-item" style="text-align: center">
                        <p></p>

                        <p>选择的课程：数据结构</p>

                        <p>年级：2012级</p>

                        <p>专业：计算机</p>

                        <p>教师：殷东亮</p>
                    </div>
                    <div class="list-group-item" style="text-align: center">
                        <a href="{% url 'issue' %}" class="btn"
                           style="width: 80%;background-color: #D73C31;color: #ffffff">教师发布入口</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="page-header"style="padding-bottom: 5px;margin-top: -10px">
                        <h3>数据结构
                            <small>第一节课</small>
                        </h3>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 60%;background-color: #85d9f2">
                                60%
                            </div>
                        </div>
                    </div>
                    <p>选择专业和课程选择专业和课程选择专业和课程选择专业和课程选择专业和课程选择专业和课程</p>

                </div>
                <div class="panel-footer">
                    <a href="" class=" col-md-offset-8 col-xs-offset-8 col-sm-offset-8">查看本学期所有该课程的作业</a>
                </div>
            </div>
        </div>
    </div>
    <script>

    </script>
{% endblock %}