{% extends 'base.html' %}
{% load humanize %}
{% load pagination_tags %}
{% block nav %}{% include 'navbar.html' %}{% endblock %}
{% block main %}
    <div class="container" >
        <div class="col-md-8 col-sm-8 col-sm-8">
            {% if messages %}
                {% for message in messages %}
                    <p class="alert alert-danger">{{ message }}</p>
                {% endfor %}
            {% endif %}

            {% autopaginate blog 15 %}
            {% for b in blog %}
                <div class="blog" style="border-bottom: 1px solid darkgreen;padding-bottom: 5px;">
                    <h4 style="margin-top: 10px"><a href="{{ b.id }}">{{ b.title }}</a></h4>

                    <p>{{ b.content | truncatechars_html:200 | safe }}</p>

                    <div style="margin-top: -5px"><span><a id="count" href="{% url 'user_profile' b.auth.id %}"
                                                           style="text-decoration: none">{{ b.auth }}</a></span><span> 发表于 {{ b.time_created | date }} </span><span>评论({{ b.reply_count }}) 点击({{ b.click }})</span>
                    </div>
                </div>
            {% endfor %}
            <div style="text-align: center">
                {% paginate %}
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    标签
                </div>
                <div class="panel-body">
                    <a href="" class="label label-default">CS</a>
                    <a href="" class="label label-default">CS</a>
                    <a href="" class="label label-default">CS</a>
                    <a href="" class="label label-default">CS</a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}