{% extends 'base.html' %}
{% load humanize %}
{% block nav %}{% include 'navbar.html' %}{% endblock %}
{% block main %}
    <div class="container" style="margin-top: 20px">
        <div class="col-md-8">
            <div>
                <div class="jumbotron" style="background-color: #99CC99;text-align: center">
                    <h2><a href="{% url 'write_blog' dn %}">Write the blog</a> , to be a better man</h2>
                </div>
            </div>
            {% for b in blog %}
                <div class="" style="border-bottom: 1px solid darkgreen;padding-bottom: 5px">
                    <h4 style="margin-top: 10px"><a href="{{ b.id }}">{{ b.title }}</a></h4>

                    <p>{{ b.content | truncatechars_html:100 | safe }}</p>

                    <div style="margin-top: -5px"><span><a id="count" href="" style="text-decoration: none">{{ b.auth }}</a></span><span> 发表于 {{ b.time_created | date }} </span><span>评论({{ b.reply_count }}) 点击({{ b.click }})</span></div>
                </div>
            {% endfor %}

        </div>
        <div class="col-md-4">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    标签
                </div>
                <div class="panel-body">
                    <a href="" class="label label-default">CS</a>
                    <a href="" class="label label-default">CS</a>
                    <a href="" class="label label-default">CS</a>
                    <a href="" class="label label-default">CS</a>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading">
                    点击量排行榜
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><a href="">最近的主题，python标最近的主题，python标准库最近的主题，python标准库最近的主题，python标准库最近的主题，python标准库最近的主题，python标准库准库</a>
                    </li>
                    <li class="list-group-item"><a href="">最近的主题，python标准库</a></li>
                    <li class="list-group-item"><a href="">最近的主题，python标准库</a></li>
                    <li class="list-group-item"><a href="">最近的主题，python标准库</a></li>
                    <li class="list-group-item"><a href="">最近的主题，python标准库</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}