{% extends 'base.html' %}
{% load humanize %}
{% block nav %}{% include 'navbar.html' %}{% endblock %}
{% block main %}
    <div class="container" >
        <div class="row">

            <div class="col-md-8">
             {% if messages %}
            {% for message in messages %}
                <p class="alert alert-danger">{{ message }}</p>
            {% endfor %}
        {% endif %}
                <div class="" style="background-color: transparent">
                    <div class="panel-body" style="">
                        <div>
                            <div style="margin: 10px;border-bottom: 2px green solid">
                                <h3 style="">{{ blog.title }}</h3>
                                <div style="margin-top: 20px;padding-bottom: 10px">
                                    <a href="{% url 'user_profile' blog.auth.id %}" class="label label-primary" style="">{{ blog.auth }}</a>
                                    <span class="label label-info">{{ blog.time_created | naturaltime }}</span> <span
                                        class="label label-default">点击({{ blog.click }}) </span> <span
                                        class="label label-default"
                                        style="margin-left: 5px">评论({{ blog.reply_count }})</span>
                                    {% if blog.auth == request.user %}
{#                                        <a href="" style="text-decoration: none"><span#}
{#                                                class="label label-success">编辑</span></a>#}
                                        <a href="{% url 'del_blog' dn blog_id %}" style="text-decoration: none"><span
                                                class="label label-danger">delete</span></a>
                                    {% endif %}
                                </div>
                            </div>
                            <div style="margin: 30px 10px 20px 10px">
                                {{ blog.content | safe }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-success" style="margin-left: 20px;margin-right: 20px">
                    <div class="panel-heading">
                        有{{ blog.reply_count }}条评论
                    </div>
                    <div class="list-group">
                        {% for br in breply %}
                            <div class="list-group-item">
                                <div class="row">
                                    <a href="{% url 'user_profile' br.auth.id %}" class="col-sm-1 col-xs-2 col-md-1">
                                        <img src="{{ br.auth.profile.head }}" height="50px" width="50px"
                                             class="img-circle">
                                    </a>

                                    <div class="col-sm-10 col-xs-9 col-md-10" style="margin-left: 5px;margin-top: 10px;">
                                        {{ br.content | safe }}
                                        <div style="margin-top: 30px">
                                            <span id="count"><a href="">{{ br.auth }}</a></span><span
                                                id="count"
                                                style="margin-left: 5px">{{ br.time_created | naturaltime }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
                <div class="list-group " style="margin-left: 20px;margin-right: 20px">
                    <form role="form" method="post" action="{% url 'create_breply' dn blog_id %}">
                        {% csrf_token %}
                        <textarea placeholder="评论" name="content" class="form-control" id="editor"></textarea>
                        <button class="btn btn-success pull-right" type="submit" style="margin-top: 10px;width: 100px">提交</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        var editor = new Simditor({
            textarea: $('#editor'),
            toolbar: ['title', 'bold', 'italic', 'underline', 'color', '|', 'ol', 'blockquote', 'code', '|', 'link', 'image', 'emoji'],
            emoji: {
                imagePath: '/static/images/emoji/'
            },
            defaultImage: '/static/images/loading-upload.gif'

        });
        editor.focus();
        $('.reply-btn').click(
                function () {
                    var user = $(this).data('user');
                    var profile = $(this).data('url');
                    console.log(user);
                    editor.setValue('<a href="' + profile + '">' + '@' + user + '<' + '/a>' + '&nbsp');
                }
        );
    </script>
{% endblock %}