{% extends 'base.html' %}
{% block nav %}{% include 'navbar.html' %}{% endblock %}
{% block main %}
    <div class="container">
        <div class="col-md-8 col-md-offset-2">

            {% if user.is_authenticated %}
                <div class="panel-body">
                    <form role="form" method="post" action="">
                        {% if messages %}
                            {% for message in messages %}
                                <p class="alert alert-danger">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                        {% csrf_token %}
                        <p><input type="text" placeholder="标题" class="form-control" name="title"></p>

                        <p><textarea id="editor" placeholder="内容" class="form-control" name="content"
                                     rows="10"></textarea></p>

                        <p class="pull-right">
                            <a href="{% url 'blog_index' dn %}" class="btn btn-warning">返回</a>
                            <button class="btn btn-info" type="submit" style="margin-left: 10px;width: 100px">提交
                            </button>
                        </p>
                    </form>
                </div>
            {% else %}
                请登录或注册
            {% endif %}
        </div>
    </div>
    <script>
        var editor = new Simditor({
            textarea: $('#editor'),
            toolbar: ['title', 'bold', 'italic', 'underline', 'color', '|', 'ol', 'blockquote', 'code', '|', 'link', 'image', 'emoji'],
            emoji: {
                imagePath: '/static/images/emoji/'
            },
            defaultImage: '/static/images/loading-upload.gif'

        });
        editor.focus();
        $('.reply-btn').click(
                function () {
                    var user = $(this).data('user');
                    var profile = $(this).data('url');
                    console.log(user);
                    editor.setValue('<a href="' + profile + '">' + '@' + user + '<' + '/a>' + '&nbsp');
                }
        );
    </script>
{% endblock %}