{% extends 'base.html' %}
{% block nav %}
    {% include 'nav.html' %}
{% endblock %}
{% block login %}
<div style="width: 400px;margin-left: auto;margin-right: auto;margin-top: 5%;margin-bottom: 20%;margin-top: 10%">
    <form class="form-horizontal" role="form" method="post" action="">
        {% csrf_token %}
        <p><input type="text" class="form-control" placeholder="用户名" name="username"></p>
        <p><input type="password" class="form-control" placeholder="密码" name="password"></p>
        <label id="lable"><input type="checkbox" value="remember-me"> Remember me</label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    </form>
</div>
{% endblock %}