{% extends 'base.html' %}
{% block nav %}
    {% include 'nav.html' %}
{% endblock %}
{% block signup %}
    <div style="width: 400px;margin-left: auto;margin-right: auto;margin-top: 5%;margin-bottom: 15%;margin-top: 10%">
        <form role="form" method="post" action="" style="margin-left: 5%;margin-right: 5%">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% csrf_token %}
            <p class="pull-right"><a href="{% url 'teacher_signup' %}" class="btn btn-danger">教师注册<span
                    class="glyphicon glyphicon-arrow-right"></span>
            </a></p>

            <p><input type="text" class="form-control" placeholder="用户名" name="username"></p>

            <p><input type="number" class="form-control" placeholder="学号" name="number"></p>

            <p><input type="email" class="form-control" placeholder="邮箱" name="email"></p>

            <p><input type="password" class="form-control" placeholder="设置密码" name="password1"></p>

            <p><input type="password" class="form-control" placeholder="确认密码" name="password2"></p>
            <button class="btn btn-lg btn-primary btn-block" type="submit">学生注册</button>
        </form>
    </div>
{% endblock %}
