{% extends 'base.html' %}
{% block nav %}{% include 'nav.html' %}{% endblock %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                <div class="panel panel-default">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="panel-body">
                                <div>
                                    <p>用户名&nbsp;:&nbsp;{{ p.username }}</p>

                                    <p>学号&nbsp;:&nbsp;{{ p.profile.number }}</p>

                                    <p>Email&nbsp;:&nbsp;{{ p.email }}</p>

                                    <p>个人主页&nbsp;:&nbsp;<a target="_blank"
                                                           href="{{ p.profile.website }}">{{ p.profile.website }}</a>
                                    </p>
                                    {% if user.is_authenticated %}
                                        {% if request.user == p %}
                                            <p><a href="{% url 'edit_profile' %}">修改个人资料</a></p>
                                        {% endif %}
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" style="padding: 20 30 10 0">
                            <div style="text-align: center;margin: 10px">
                                <img src="{{ p.profile.head }}" height="100" width="100" class="img-rounded">
                                {% if request.user == p %}
                                    <div style="margin: 10px">
                                        <form method="post" action="http://upload.qiniu.com/"
                                              enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <input type="hidden" class="form-control" value="{{ token }}" name="token">

                                            <input name="file" type="file" accept="image/*"
                                                   style="margin-top: 5px;margin-bottom: 5px">

                                            <input type="submit" class="form-control btn-green" value="上传头像">
                                        </form>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div>
                            <p>消息列表</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}