{% extends 'base.html' %}
{% block nav %}
    {% include 'nav.html' %}
{% endblock %}
{% block pitch %}
    {% include 'pitch.html' %}
{% endblock %}
{% block main %}
    <div class="container" style="margin-top: 20px">
        <div class="col-md-9">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endfor %}
            {% endif %}

            <div class="panel panel-default">
                <div class="panel-heading" style="background-color: #C6E5E9">
                    前往&nbsp;-->&nbsp;社区
                </div>
                <div class="list-group nav">
                    <div class="list-group-item">
                        <span class="label btn-blue" style="padding: 8px;"></span>

                        <div class="btn-group">
                            <a type="button" class="btn btn-default" href="/cs/">软件编程
                            </a>
                        </div>
                        <div class="btn-group">
                            <a type="button" class="btn btn-default" href="/cs/">集成测控
                            </a>
                        </div>
                        <div class="btn-group">
                            <a type="button" class="btn btn-default" href="/cs/">机械学院
                            </a>
                        </div>
                        <div class="btn-group">
                            <a type="button" class="btn btn-default" href="/cs/">管理学院
                            </a>
                        </div>
                        <div class="btn-group">
                            <a type="button" class="btn btn-default" href="/cs/">艺术设计
                            </a>
                        </div>
                        <div class="btn-group">
                            <a type="button" class="btn btn-default" href="/cs/">服装设计
                            </a>
                        </div>
                        <div class="btn-group">
                            <a type="button" class="btn btn-default" href="/cs/">外国语
                            </a>
                        </div>
                        <div class="btn-group">
                            <a type="button" class="btn btn-default" href="/cs/">生物学院
                            </a>
                        </div>
                        <div class="btn-group dropdown">
                            <button type="button" class="btn btn-default dropdown-toggle"
                                    data-toggle="dropdown">
                                社团 <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/cs/">CSDN高校俱乐部</a></li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: #C6E5E9">
                        Android和iOS端正在开发中...
                    </div>

                    <div class="panel-body" style="text-align: center">
                        <div class="alert alert-warning" role="alert">
                            <p>注意！我们已不再支持IE6内核的浏览器，推荐使用谷歌或火狐浏览器，需要申请分区请直接联系作者。
                            </p>
                        </div>
                        <img src="../static/images/qrcode.jpg" class="img-thumbnail" style="margin-bottom: 20px">
                    </div>
                </div>


            </div>
        </div>
    </div>

<footer style="border-top: 1px solid #dcdcdc;padding-top: 10px;margin-top: 20px">
    <div class="container" style="text-align: center;line-height: 2">

        <div>
            &copy;dlpucsdn.com 2013-2014
            <a href="{% url 'about' %}">&nbsp;&nbsp;&nbsp;关于我们</a>
            <a href="https://github.com/tcitry" target="_blank" style="margin-left: 10px;margin-right: 10px">联系作者</a>
        </div>
        <div>
            由<a href="http://qiniu.com" target="_blank">七牛云</a>提供静态存储，<a href="https://www.digitalocean.com/?refcode=691aa9b4866d"
                                                                         target="_blank">DigitalOcean</a>提供服务器
        </div>
        <div>
            <a href="http://www.csdn.net/" target="_blank"><img src="/static/images/csdn.png"></a>
        </div>
    </div>
</footer>

{% endblock %}