{% extends 'base.html' %}
{% block nav %}
    {% include 'nav.html' %}
{% endblock %}
{% block pitch %}
    {% include 'pitch.html' %}
{% endblock %}
{% block main %}
    <div class="container" style="margin-top: 20px">
        <div class="col-md-9">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <div class="alert alert-warning" role="alert">
                <p>注意！我们已不再支持IE6内核的浏览器，推荐使用谷歌或火狐浏览器，需要申请分区请直接联系作者。
                </p>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color: #98e9f2">
                    前往&nbsp;-->&nbsp;社区
                </div>
                <div class="list-group">
                    <div class="list-group-item">
                        <span class="label btn-blue" style="padding: 8px;"></span>
                        <div class="btn-group dropdown">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                信息学院 <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/cs/">计算机网络</a></li>
                                <li class="disabled"><a href="/gz/">光照</a></li>
                                <li><a href="/tx/">通信</a></li>
                                <li><a href="/au/">自动化</a></li>
                                <li><a href="/xj/">信计</a></li>
                            </ul>
                        </div>
                        <div class="btn-group dropdown">
                            <button type="button" class="btn btn-default dropdown-toggle disabled" data-toggle="dropdown">
                                管理学院 <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/cs/">工商</a></li>
                                <li><a href="/gz/">信管</a></li>
                                <li><a href="/tx/">国贸</a></li>
                                <li><a href="/au/">人力</a></li>
                                <li><a href="/xj/">物流</a></li>
                                <li><a href="/xj/">电商</a></li>
                            </ul>
                        </div>
                        <div class="btn-group dropdown">
                            <button type="button" class="btn btn-default dropdown-toggle disabled" data-toggle="dropdown">
                                艺术学院 <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/cs/">视觉传达</a></li>
                                <li><a href="/gz/">景观设计</a></li>
                                <li><a href="/tx/">数字媒体</a></li>
                                <li><a href="/ds/">雕塑</a></li>
                            </ul>
                        </div>
                        <div class="btn-group dropdown">
                            <button type="button" class="btn btn-default dropdown-toggle disabled" data-toggle="dropdown">
                                服装学院 <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/cs/">服装设计</a></li>
                                <li><a href="/gz/">艺术设计</a></li>
                                <li><a href="/tx/">纺织工程</a></li>
                            </ul>
                        </div>
                        <div class="btn-group dropdown">
                            <button type="button" class="btn btn-default dropdown-toggle disabled" data-toggle="dropdown">
                                外语学院 <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/cs/">日语</a></li>
                                <li><a href="/gz/">英语</a></li>
                                <li><a href="/tx/">对外汉语</a></li>
                            </ul>
                        </div>
                        <div class="btn-group dropdown">
                            <button type="button" class="btn btn-default dropdown-toggle disabled" data-toggle="dropdown">
                                社团 <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/cs/">DlpuCsdn</a></li>
                                <li><a href="/gz/"></a></li>
                                <li><a href="/tx/"></a></li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: #98e9f2">
                        Android和iOS端正在开发中...
                    </div>
                    <div class="panel-body" style="text-align: center">
                    <img src="../static/images/qrcode.jpg" class="img-thumbnail"style="margin-bottom: 20px">
                </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}