<div class="container" style="padding-top: 3%;width: 50%;margin-left: 8%">
    <div class="panel panel-default">
        <div class="panel-heading ">
        <a class="panel-title" href="https://github.com/tcitry/dlpucsdn/issues" target="_blank">点此提交建议或bug</a>
        </div>
        <div class="list-group">
            <li class="list-group-item">20140907:修正个login页面</li>
            <li class="list-group-item">20140907:修正个login页面</li>
            <li class="list-group-item">20140907:修正个login页面</li>
            <li class="list-group-item">20140907:修正个login页面</li>
            <li class="list-group-item">20140907:修正个login页面</li>
            <li class="list-group-item">20140907:修正个login页面</li>
            <li class="list-group-item">20140907:修正个login页面</li>
        </div>
    </div>
</div>