{% extends 'base.html' %}
{% block nav %}{% include 'nav.html' %}{% endblock %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form class="form-group" method="post" action="http://up.qiniu.com" style="margin-top: 20px">
                    {% csrf_token %}
                    <input class="form-control" type="hidden" name="token" value="{{ token }}">
                    <input class="form-control" name="x:img_name" value="x:me"><br>

                    <input class="form-control" name="file" type="file"><br>
                    <input class="form-control" type="submit" value="Upload"><br>
                </form>
            </div>
        </div>
    </div>
{% endblock %}